.popup__close-button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../../../images/close-button.svg);
  transition: opacity .3s linear;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background-size: cover;
  }
}
