.popup__input {
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  max-width: 358px;
  min-width: 238px;
  width: 100%;
  margin-bottom: 30px;
  padding: 0;
  min-height: 27px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 500px) {
  .popup__input {
    margin-bottom: 45px;
  }
}

@media screen and (max-width: 500px) {
  .popup__input:first-of-type {
    margin-bottom: 30px;
  }
}
